/*background: rgb(155,45,47);
background: -moz-linear-gradient(top,  rgba(155,45,47,1) 0%, rgba(135,25,27,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,45,47,1)), color-stop(100%,rgba(135,25,27,1)));
background: -webkit-linear-gradient(top,  rgba(155,45,47,1) 0%,rgba(135,25,27,1) 100%);
background: -o-linear-gradient(top,  rgba(155,45,47,1) 0%,rgba(135,25,27,1) 100%);
background: -ms-linear-gradient(top,  rgba(155,45,47,1) 0%,rgba(135,25,27,1) 100%);
background: linear-gradient(to bottom,  rgba(155,45,47,1) 0%,rgba(135,25,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b2d2f', endColorstr='#333333',GradientType=0 );*/

html {
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*background: url(/bundles/novcore/images/wtf.jpg) center center;*/
    background: #af967d;
    background: #96af7d;
}

a {
    color: blue;
}

a:hover {
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 0;
}

h2 {
    font-family: Georgia, sans-serif;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.sidebar, .content, .footer {
    padding: 15px 15px 5px;
/*    background: -moz-linear-gradient(left,  rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0.85)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=1 );*/
    background: #fff;
/*    border: 1px solid #eee;*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #1f1f1f;
}

.sidebar hr {
    border-bottom: 1px solid #292929;
    border-top: 1px solid #151515;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    margin-bottom: 20px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0.85)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#d9000000',GradientType=0 );
}

.nav-tabs.nav-stacked {
    position: relative;
}

.nav-tabs.nav-stacked>li>a {
    font-size: 17.5px;
    border-width: 0 0;
    border-radius: 0 !important;
    font-weight: normal !important;
    color: #e8e8e8;
}

.nav > li > a:hover {
    background: none;
    color: #e8e8e8 !important;
}

.nav-tabs.nav-stacked>li>a:hover, .nav-tabs.nav-stacked>li>a:focus {
    border: 0;
    background: none;
    color: #e8e8e8 !important;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border: 0;
    background: none;
    color: #e8e8e8 !important;
}

address {
    margin-bottom: 10px;
}

.table th, .table td {
    border-top: 1px solid #ddd;
}

.table tr:first-child th, .table tr:first-child td {
    border-top: 0;
}

table, form, .well {
    margin-bottom: 10px;
}

.nav {
    margin-bottom: 10px;
}

hr {
    margin: 10px 0;
    border-bottom: 0;
}

p.nav-collapse-trigger {
    display: none;
}

.photo, iframe {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

iframe {
    margin-bottom: 10px;
}

/*html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    margin: 0 auto -73px;
}

.push {
    height: 73px;
}*/

.btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn:hover {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.form-horizontal .control-label {
    text-align: left;
    width: 80px;
}

.form-horizontal .controls {
    margin-left: 90px;
}

.form-horizontal .form-actions {
    padding-left: 90px;
}

.form-actions {
    background: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    border: 0;
}
