{% extends 'NovCoreBundle::layout.html.twig' %}

{% block content %}
<ul>
<li><a href="#soupes-et-salades">Soupes et salades</a></li>
<li><a href="#antipasti">Antipasti</a></li>
</ul>
<table class="table" id="soupes-et-salades">
<tr>
    <th colspan=2 style="text-transform: uppercase;">Soupes et salades</th>
</tr>
<tr>
    <td>Minestrone</td>
    <td style="text-align: right;">6</td>
</tr>
<tr>
    <td>Salade mista</td>
    <td style="text-align: right;">7</td>
</tr>
<tr>
    <td>Stracciatella fiorentina</td>
    <td style="text-align: right;">6</td>
</tr>
<tr>
    <td>Alade césar</td>
    <td style="text-align: right;">8</td>
</tr>
<tr>
    <td>Brodetto di mare (soupe aux fruits de mer)</td>
    <td style="text-align: right;">15</td>
</tr>
<tr>
    <td>Salade de roquette (magret de canard fumé et mandarines)</td>
    <td style="text-align: right;">14</td>
</tr>
<tr>
    <td>Salade fragola (fraises, gorgonzola et amandes caramélisées)</td>
    <td style="text-align: right;">12</td>
</tr>
</table>

<table class="table" id="antipasti">
    <tr>
        <th colspan=2 style="text-transform: uppercase;">Antipasti</th>
    </tr>
    <tr>
        <td>Saucisses maison grillées</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Mini-burger de bœuf wagyu (servit avec foie gras et frites pont neuf)</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Bocconcini caroza</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Carpaccio de filet mignon</td>
        <td>19</td>
    </tr>
    <tr>
        <td>Calmars frit</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Cocktail de crevettes</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Moules</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Tartare di tonno (avec choix de sauce marinara, bleu ou vin blanc) (thon qualité sushi, avocat tempura)</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Burrata</td>
        <td>24</td>
    </tr>
    <tr>
        <td>Foie gras poêlé</td>
        <td>23</td>
    </tr>
    <tr>
        <td>Pieuvre grillée (servit sur pain brioché, cheddar vieillit, prosciutto et fond de veau à la pomme de glace)</td>
        <td>19</td>
    </tr>
    <tr>
        <td>Tartare de bœuf</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Antipasto du roi (pommes de terre risolées au romarin) (trois petites entrées de la table d’hôte)</td>
        <td>25</td>
    </tr>
</table>
{% endblock content %}
