{% extends 'NovCoreBundle::layout.html.twig' %}

{% block content %}
<p>Bienvenue sur le site web Novello complètement revu, afin de vous permettre une meilleure navigation! Toutes les nouveautés à jour, menu en ligne, réservation simplifiée et bien plus! Bonne visite, l'équipe Novello!</p>
<p>Mention d'honneur guide Debeur 4 années consécutives top 100 restaurants sur plus de 10 000 restaurants. Le Novello est l'endroit par excellence depuis toujours pour la plus belle terrasse au sud de Montréal!</p>
{% endblock content %}
